<div class="social-media-content-container box-shadow" ng-repeat="socialNetwork in networks"
     ng-init="networkIndex = $index">
    <div class="social-media-content-header box-shadow" style="background-color:{{socialNetwork.color}};">
        <div class="social-media-content-header-x center">
            <i class="fa fa-{{socialNetwork.icon}}"></i><br />
            {{socialNetwork.name}}
        </div>
    </div>
    <div class="social-media-content-body">
        <div class="social-media-content-body-entry box-shadow" ng-repeat="entry in socialNetwork.feed"
             ng-click="showDetailView($index, networkIndex)">
            <div class="social-media-content-body-entry-image">
                <div class="center" style="font-size:7vh;" ng-if="entry.type != 'text'">
                    <img style="max-width:5.5vw;max-height:12vh;" ng-if="entry.type === 'audio'" src="{{entry.thumb}}"/>
                    <img style="max-width:5.5vw;max-height:12vh;" ng-if="entry.type === 'image'" src="{{entry.media}}"/>
                    <video style="max-width:5.5vw;max-height:12vh;margin-top:1vh;" ng-if="entry.type === 'video'"
                           src="{{entry.media | trustUrl}}" type="video/mp4"></video>
                </div>
            </div>
            <div class="social-media-content-body-entry-author">
                <a href="{{entry.link | trustUrl}}" target="_blank">{{entry.author}}</a>
            </div>
            <div class="social-media-content-body-entry-text" ng-class="entry.type == 'text' ? 'social-media-content-body-entry-text-textview' : ''" ellipsis>
                {{entry.text}}
            </div>
            <div class="social-media-content-body-entry-time" style="font-size:0.8rem; color:#999;">
                &#8226; {{entry.createdTime | differenceFilter}}
            </div>
        </div>
    </div>
</div>