<div id="detailview-overlay" ng-click="hideDetailView()" class="container-detailview">
</div>
    <div id="detailview-content" class="center">
        <div id="detailview-content-media">
            <div id="detailview-content-media-x" class="center" style="width:95%; height:95%;">
                <div ng-if="currentItem.socialNetwork.name == 'SoundCloud'" style="width:100%;height:100%;" ng-bind-html="media">
                </div>
                <img ng-if="currentItem.type === 'image'" class="center" src="{{currentItem.media}}" style="max-height:100%; max-width:100%;" />
                <video ng-if="currentItem.type === 'video'" class="center" style="max-height:100%; max-width:100%;"
                       src="{{currentItem.media | trustUrl}}" controls></video>
                <div class="center" style="font-size:2rem;width:80%;padding:2vh;border:0.2vh solid #eee;"
                     ng-if="currentItem.type === 'text'"
                     ng-bind-html="currentItem.text | urlFilter | hashFilter">
                </div>
            </div>
        </div>
        <div id="detailview-content-meta">
            <div id="detailview-content-meta-title">
                <a href="{{currentItem.link | trustUrl}}" target="_blank">{{currentItem.author}}</a>
                <div id="detailview-content-meta-subtitle">&#8226; {{currentItem.createdTime |
                    differenceFilter}}</div>
            </div>
            <div id="detailview-content-meta-body">
                <div ng-if="currentItem.authorPicture != ''" id="detailview-content-meta-body-author-pic"  style="height:14vh;position: relative;">
                    <a href="{{currentItem.link | trustUrl}}" target="_blank"><img class="center" style="height:12vh;border-radius:50%;" src="{{currentItem.authorPicture}}" /></a>
                </div>
                <div id="detailview-content-meta-body-desc" ng-if="currentItem.type != 'text'"
                     ng-bind-html="currentItem.text | urlFilter | hashFilter"></div>
                <div id="detailview-content-meta-body-likes">
                    {{currentItem.numberOfLikes | numberFilter}} Likes
                </div>
                <div id="detailview-content-meta-body-hashtags">
                    <span ng-repeat="hashtag in currentItem.tags" class="hashtag">#{{hashtag}}</span>
                </div>
            </div>

        </div>
        <div id="detailview-content-network" style="background-color:{{currentItem.socialNetwork.color}};">
            <i class="fa fa-{{currentItem.socialNetwork.icon}} center"></i>
        </div>
        <div id="detailview-content-network-triangle"></div>
        <div id="detailview-content-arrow-right" ng-click="nextItem()">
            <i class="fa fa-angle-right"></i>
        </div>
        <div id="detailview-content-arrow-left" ng-click="previousItem()">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>