::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}

html, body {
    font-size:0.9vmax;
    color:#727272;
    font-family: 'Roboto', 'Calibri', sans-serif;
    overflow:hidden;
    font-weight:100;
}

label {
    font-weight:100;
}

#container-strebo {
    width:100%;
    height:100%;
}

#view-switch {
    position:absolute;
    z-index:10;
    top:2vh;
    right:2vh;
    background-color:#ffffff;
    width:6vh;
    height:6vh;
    font-size:1.65rem;
    cursor: pointer;
}

#location-setting {
    position:absolute;
    z-index:10;
    top:10vh;
    right:2vh;
    background-color:#ffffff;
    width:6vh;
    height:6vh;
    font-size:1.65rem;
    cursor: pointer;
}

#location-setting-options {
    position:absolute;
    z-index:10;
    top:10vh;
    right:9vh;
    width:15vh;
    height:6vh;
}

.location-setting-option {
    position:relative;
    width:15vh;
    height:6vh;
    background-color:#ffffff;
    border:1px solid #eee;
    z-index:10;
    font-size:1.1rem;
    cursor:pointer;
    margin-top:1vh;
    box-sizing: border-box;
}

#location-setting-info {
    position: absolute;
    bottom:0.5vh;
    right:0.5vh;
    width:2vh;
    background-color:#ffffff;
    height:2vh;
    font-size:0.8rem;
    border-radius:50%;
    font-weight: 400;
}

.location-setting-option:first-of-type {
    margin-top:0;
}

#container-top {
    height:90vh;
}
#container-board {
    width:95vw;
    height:90vh;
    background-color:#FAFAFA;
    position: absolute;
    top:0;
    right:0;
}
#container-menu {
    height:100%;
    background-color:#EEEEEE;
    width:5vw;
    padding-top:5vh;
}
#container-footer {
    position: relative;
    height:10vh;
    width:100vw;
    background-color:#EEEEEE;
}

#sectionName {
    position:absolute;
    font-size:2.5rem;
    left:18vw;
    top:50%;
    transform: translateY(-50%);
    font-family: "Roboto", serif;
    font-weight: 100;
}

#logo {
    position: absolute;
    height:calc(10vh + 1px);
    width:18vw;
    background-color:transparent;
    cursor: pointer;
}
.center {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#logo-image, #logo-image-small {
    max-height:8vh;
    max-width:13vw;
}

@media (min-width: 901px) {
    #logo-image-small {
        display: none;
    }
}

@media (max-width: 900px) {
    #logo-image {
        display: none;
    }
}

#logo-text {
    text-align:center;
}
.social-network-connector {
    /*bottom:1vh;*/
    height:10vh;
    width:10vh;
    position: relative;
    display: inline-block;
    font-size:2rem;
    /*background-color:#E0E0E0;*/
    margin-right:2vh;
    cursor: pointer;
}
#social-network-connector-bar {
    position: absolute;
    right:0;
    height:10vh;
    display: inline-block;
}
.connector-icon.connected {
    color:#424242;
}
.connector-icon.disconnected {
    color:#9E9E9E;
}
.connector-status {
    position: absolute;
    right:1vh;
    bottom:1vh;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:1.5rem;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    height:3vh;
    width:3vh;
    text-align: center;
    background-color:#fff;
    border-radius:50%;
    padding:0.1vh;
    opacity:0.8;
    line-height: 3vh;
}
.connector-status.connected {
    color:#00E676;
}
.connector-status.connected:after {
    content: "\f00c";
    display:inline-block;
}
.connector-status.disconnected:after {
    content: "\f00d";
    color:#FF1744;
}
.menu-item {
    z-index:10;
    /*margin-left:1vh;*/
    width:5vw;
    height:5vw;
    position: relative;
    /*background-color:#E0E0E0;*/
    cursor:pointer;
    font-size:2rem;
    margin-top:5vh;
}

.menu-link, .menu-link:hover, .menu-link:visited, .menu-link:active {
    display:block;
    width:100%;
    height:100%;
    color:#727272;
}

.menu-item:first-of-type {
    margin-top:0;
}

.menu-tooltip {
    display:none;
    width:15vw;
    margin-top:0.5vw;
    height:4vw;
    background-color:#fff;
    position: absolute;
    left:5.5vw;
    top:0;
    z-index:2;
    font-size:1.5rem;
}
.menu-item:hover .menu-tooltip {
    display:block;
}
.menu-tooltip-text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    width:15vw;
    opacity:0.8;
}
.box-shadow {
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}

.social-media-content-container {
    width:18vw;
    height: 82vh;
    margin-top:4vh;
    margin-left:3vw;
    background-color:#ffffff;
    display: inline-block;
}

.social-media-content-container-feed {
    width:14vw;
    height:18vw;
    margin-top:4vh;
    margin-left:3vw;
    display:inline-block;
    background-color:#ffffff;
}

.social-media-content-container:last-of-type {
    margin-right:3vw;
}

.social-media-content-header {
    color:#ffffff;
    margin-left:-1.5%;
    height:10vh;
    width:103%;
    background-color:#EEEEEE;
    position: relative;
    /*background-image: repeating-linear-gradient(45deg, transparent, transparent 0.4vh, rgba(255,255,255,.1) 0.4vh, rgba(255,255,255,.1) 0.8vh);*/
}

.social-media-content-header-feed {
    height:4vw;
    width:100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom:0.2vh solid #eeeeee;
    position: relative;
}

.social-media-content-title-feed {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:1vh;
    font-size:1.15rem;
}

.social-media-content-title-pic-feed {
    width:5vh;
    height:5vh;
}

.social-media-content-body-entry-media-feed {
    max-height:9vw;
    max-width:13vw;
}

.social-media-content-body-entry-media-extend-feed {
    max-height:13vw;
}

.social-media-content-body-entry-media-video-feed {
    margin-top:3vh;
}

.social-media-content-header-x {
    text-align: center;
    font-size:1rem;
}

.social-media-content-header-x i {
    font-size:2rem;
}

.social-media-content-header-x-feed {
    position: absolute;
    right:-1.5vh;
    top:1vh;
    width:5vh;
    height:5vh;
    background-color:#eee;
}

.social-media-content-header-x-feed i {
    font-size:1.55rem;
    color:#fff;
}

.social-media-content-header-x-triangle-feed {
    position: absolute;
    right:-1.5vh;
    top:6vh;
    width: 0;
    height: 0;
    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 1.5vh 1.5vh 0 0;
    border-color: #222 transparent transparent transparent;
}

::-webkit-scrollbar {
    width: 0.5vmax;
    height: 0.5vmax;
}

::-webkit-scrollbar-thumb {
    background-color:#fff;
    border: 1px solid #E0E0E0;
}

.social-media-content-body {
    position:absolute;
    width:18vw;
    height:72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.social-media-content-body-feed {
    position:absolute;
    height:14vw;
    width:14vw;
}

.social-media-content-body-entry {
    position:relative;
    margin-left:1vw;
    margin-top:1.5vh;
    height:14vh;
    width:16vw;
    cursor:pointer;
}
.social-media-content-body-entry:last-of-type {
    margin-bottom:1.5vh;
}
.social-media-content-body-entry-image {
    position:absolute;
    width:6vw;
    height:12vh;
    top:50%;
    transform:translateY(-50%);
}

.social-media-content-body-entry-image-feed {
    position:absolute;
    box-sizing: border-box;
    border-bottom:0.2vh solid #eeeeee;
    height:10vw;
    width:14vw;
}

.social-media-content-body-entry-image-extend-feed {
    border:none;
    height:14vw;
}

.social-media-content-body-entry-text {
    position:absolute;
    top:2.5vh;
    left:6vw;
    white-space: normal;
    font-size:0.9rem;
    width:10.2vw;
    height:4vw;
    overflow:hidden;
    padding:0.75vh;
    box-sizing: border-box;
}

.social-media-content-body-entry-text-feed {
    position:absolute;
    top:10vw;
    white-space: normal;
    font-size:0.9rem;
    width:14vw;
    height:4vw;
    overflow:hidden;
    padding:0.75vh;
    box-sizing: border-box;
}

.social-media-content-body-entry-author {
    position: absolute;
    top:0.5vh;
    right:1vh;
}

.social-media-content-body-entry-time {
    position: absolute;
    bottom:0.5vh;
    right:1vh;
}

.container-detailview {
    position: absolute;
    top:0;
    right:0;
    width:100vw;
    height:100vh;
    z-index:1000;
}
#detailview-overlay {
    background-color:#000000;
    opacity:0.3;
}

#detailview-content {
    background-color:#fff;
    width:70%;
    height:75%;
    border:0.2vh solid #eee;
    z-index:1001;
}

#detailview-content-media {
    width:64%;
    position: absolute;
    left:0;
    height:100%;
}

#detailview-content-meta {
    box-sizing: border-box;
    border-left: 0.2vh solid #eee;
    width:36%;
    height:100%;
    position: absolute;
    right:0;
}

#detailview-content-network {
    position: absolute;
    right:2vmax;
    top:-1.5vmax;
    width:5vmax;
    height:5vmax;
    background-color:#ff3a00;
    color:#fff;
    font-size:2.6vmax;
}

#detailview-content-network-triangle {
    position: absolute;
    right:0.5vmax;
    top:-1.5vmax;
    width: 0;
    height: 0;
    -webkit-transform:rotate(270deg);
    border-style: solid;
    border-width: 1.5vmax 1.5vmax 0 0;
    border-color: #222 transparent transparent transparent;
}

#detailview-content-meta-title {
    position: absolute;
    left:1vmax;
    top:1.3vmax;
    font-size:2rem;
    width:65%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#detailview-content-meta-subtitle {
    font-size:1.3rem;
    color:#ccc;
}

#detailview-content-meta-body {
    position: absolute;
    box-sizing: border-box;
    width:calc(100% - 2.4vmax);
    top:6vmax;
    left:1.2vmax;
    font-size:1.1rem;
    padding-right:1.2vmax;
    overflow:scroll;
    height:80%;
}
#detailview-content-meta-body-hashtags {
    margin-top:1.3vmax;
}

#detailview-content-meta-body-likes {
    margin-top:1.3vmax;
    background-color:#eee;
    text-align:center;
    padding:0.3vmax;
    font-weight:700;
}

.hashtag {
    display: inline-block;
    background-color:#eee;
    border-radius:0.5vmax;
    padding:0.2vmax 0.4vmax;
    margin-right:0.2vmax;
    margin-bottom:0.2vmax;
}

.hashcolor {
   display: inline-block;
   background-color: #ffeeee;
    padding:0.25vh 0.4vh;
    border-radius:1vh;
}

#detailview-content-arrow-right {
    position: absolute;
    top:50%;
    right:-3vw;
    transform: translateY(-50%);
    font-size:15vh;
    color:#fff;
    cursor:pointer;
}

#detailview-content-arrow-left {
    position: absolute;
    top:50%;
    left:-3vw;
    transform: translateY(-50%);
    font-size:15vh;
    color:#fff;
    cursor:pointer;
}

.fade {
    transition:0.3s linear all;
}

.fade.ng-scope {
    opacity:1;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

.fade.ng-active {
    opacity:1;
}

.fade.ng-leave {
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}

.social-media-content-body-entry-text-feed-extend {
    font-size:1.3rem;
}
.social-media-content-title-author-feed {
    display: block;
    width: 8vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.social-media-content-body-entry-text-textview {
    width:14vw;
    left:1vw;
}

#searchview-queryfield {
    width:38vw;
    z-index:1001;
    padding-bottom:10vh;
}

#searchview-label {
    color:#ffffff;
    font-size:2rem;
}

input {
    display: block;
    margin: 0.3em 0 0 0;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: #ffffff;
    font-size: 2rem;
    line-height: 1;
    outline:none !important;
    border-radius: 10%;
}

#searchview-trigger {
    position:absolute;
    right:1.65rem;
    top:6.1rem;
    font-size:3.5rem;
    color:#727272;
    cursor:pointer;
}

input::selection{ background-color: #424242; color:#fff;}
input::moz-selection{ background-color: #424242; color:#fff;}
input::webkit-selection{ background-color: #424242; color:#fff;}

.circle {
    position: relative;
    border-radius:50%;
    width:10vw;
    height:10vw;
    border:0.2vw solid #eee;
    transform: translate(0, -5vh);
}

.min-rechteck {
    width:0.2vw;
    height:4.5vw;
    background-color:#727272;
    position:absolute;
    top:50%;
    left:50%;
    transform-origin: 50% 0;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius:5px;
}

@keyframes spin {
    from {
        transform: translate(-50%, 0) rotate(0deg);
    } to {
          transform: translate(-50%, 0) rotate(360deg);
      }
}
